            <nav>
              <menu>
                  <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                  <li><a href="{{ url_for('teams') }}">Teams</a></li>
                  <li><a href="{{ url_for('events') }}">Events</a></li>
                  <li><a href="{{ url_for('hackers') }}">Hackers</a></li>
                  <li><a href="{{ url_for('challenges') }}">Challenges</a></li>
                  <li><a href="{{ url_for('profile') }}">Profile</a></li>
              </menu>
            </nav>
            <div><a href="{{ url_for('goodbye') }}" id="sign-out">[Sign out]</a></div>
