* {
 padding: 0;
 margin: 0;
}

html {
  box-sizing: border-box;
}

body {
 background: #ddd;
}


pre {
  color: #000;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.4em;
  font-weight: 900;
  text-align: center;
}

header {
  width: 100%;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55%;
  height: 50px;
  margin: 25px auto 0 auto;
  background: #D5D4D4;
  border: 1px solid rgba(112, 112, 112, 0.2);
}

nav menu {
  width: 85%;
  margin: auto 0 auto 75px;
}

div #sign-out {
  display: block;
  margin: -40px 0 0 auto;
  width: 10%;
  text-decoration: none;
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
}

nav menu li {
  display: inline;
  margin-right: 50px;
}

nav menu li a {
  text-decoration: none;
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
}

main div {
  margin-top: 5px;
}

/* Forms(Profile, Sign up, Sign in) */

.profile-card,
.signup-card,
.signin-card {
  width: 33.5%;
  height: auto;
  background: #eee;
  margin: 50px auto 0 auto;
  padding: 25px;
  border: 1px solid #B3B1B1;
}

.profile-card h2,
.signup-card h2,
.signin-card h2 {
  color: #000;
  font: 900 1.2em "Source Code Pro", monospace;
  width: 75%;
  margin: 3.5% 0 1.2% 8.5%;
}

.profile-card form,
.signup-card form,
.signin-card form {
  padding: 10px 45px;
}

.profile-card label,
.signup-card label,
.signin-card label {
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
}

.profile-card input,
.signup-card input,
.signin-card input {
  width: 100%;
  height: 35px;
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
  margin: 5px 0 15px 0;
  outline: transparent;
}

.signup-card span,
.signin-card span {
  display: block;
  width: 100%;
}

.signup-card a,
.signin-card a {
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
}

.signup-card input[name='signin'],
.signup-card input[name='signup'],
.signin-card input[name='signin'],
.signin-card input[name='signup']{
  width: 145px;
  height: 40px;
  background: #B6B6B6;
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
  margin-top: 25px;
  cursor: pointer;
}

.signin-card input[name='signup']{
  margin-left: 115px;
}

.signin-card input[name='signin']{
  margin-left: 10px;
}


/* Profile */

.profile-card input[type='submit'] {
  display: block;
  width: 150px;
  height: 40px;
  background: #B6B6B6;
  color: #000;
  font: 500 0.8em "Source Code Pro", monospace;
  margin: 5px 0 0 auto;
  cursor: pointer;
}

/* Sign up  */

.signup-card {
  margin-bottom: 75px;
}

.signup-card input[name='signin'] {
  margin-left: 115px;
}

.signup-card input[name='signup'] {
  margin-left: 10px;
}
