{% extends 'base.html' %}
{% block content %}
<div id="content">
   <h4>Challenges</h4>
    <div class="row-content">
     <div class="row-heading">
         <ul>
           <li>Title</li>
           <li>Solved</li>
           <li>Difficulty</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-regular fa-square-check"></i>Bubble Sort</li>
           <li>2399</li>
           <li>Easy</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-regular fa-square-check"></i>Palindromes</li>
           <li>2111</li>
           <li>Mid</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-solid fa-star"></i>Square root</li>
           <li>2001</li>
           <li>Expert</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-solid fa-star"></i>Sieve of Eratosthenes</li>
           <li>1999</li>
           <li>Very hard</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-solid fa-star"></i>Selection sort</li>
           <li>1992</li>
           <li>Mid</li>
         </ul>
      </div>
      <div class="row-body">
         <ul>
           <li><i class="fa-solid fa-star"></i>Anagram</li>
           <li>1994</li>
           <li>Very easy</li>
         </ul>
      </div>
    </div>
</div>
{% endblock %}
