{% extends 'base.html' %}
{% block content %}
<div id="content">
    <div class="row-content">
     <div class="row-heading">
         <ul>
           <li>Challenge</li>
           <li>Problem# 23311</li>
         </ul>
      </div>
      <div class="row-heading">
         <ul>
           <li><i class="fa-regular fa-square-check"></i>Fizz Buzz</li>
           <li>Difficulty: Easy</li>
         </ul>
      </div>
      <div class="row-body">
          <p>
              Write a program that prints the numbers from 1 to n (where n is
              provided by the user). But for multiples of three, print "Fizz"
              instead of the number, and for the multiples of five, print
              "Buzz".For numbers which are multiples of both three and five,
              print "FizzBuzz".
          </p>
          <p>
              Additionally, if the number contains the digit
              '3', print "Fizz" (even if it's a multiple of five or both).
              Similarly, if the number contains the digit '5', print "Buzz"
              (even if it's a multiple of three or both). And if it contains
              both '3' and '5', then print "FizzBuzz" (even if it's not a
              multiple of three or five). However, note: if the number is a
              multiple of 3 and 5, we already print "FizzBuzz", but now we
              also have the digit condition.
          </p>
        <div class="row-footer">
         <ul>
           <li><i class="fa-solid fa-star"></i>2399 Solved</li>
           <li>Challenged completed by you on: 1/12/24</li>
         </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}
